.lds_dual_ring {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 30%;
}
  .lds_dual_ring:after {
    content: " ";
    display: block;
    width: 200px;
    height: 200px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid #fed;
    border-color: #fed transparent #fed transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }