* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Serif', serif;
}
.App {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.event-enter {
  opacity: 0;
}
.event-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}
.event-exit {
  opacity: 1;
}
.event-exit-active {
  opacity: 0;
  transition: all 500ms ease-in;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
